# Welcome to PyCon Africa 2019 Pandas Tutorial

In this hands on workshop we shall explore pupil result for Primary Leaving Examination(PLE) for the years 2010-2016.

With this dataset, we shall attempt to learn a few things about Uganda Primary Education while also learning some Pandas tricks as bonus.

By **Kenneth Matovu** *SSE Andela Uganda*

## Let's Get started

* Glance at the Data
* Clean the Data
* Let's get the pandas on

### 1. What were the best districts for each year?

### 2. What districts have registered a decline in D1 performance in 2016?

### 3. Bar graph showing a distribution of pupils who fail over the years by gender

### 4. Boys vs Girls

In [2]:
import pandas as pd
from matplotlib import pyplot
import matplotlib
%matplotlib inline

In [3]:
df = pd.read_csv('ple-results-by-district-2010-2016.csv')

In [8]:
rows, columns = df.shape
print(f'rows: {rows}, columns: {columns}')

rows: 932, columns: 42

Show columnn counts for cells with no data

**TODO** - hide columns that have zero counts

In [22]:
df.isna().sum()

YEAR                               0
DISTRICT                           0
NUMBER OF SCHOOLS/UNEB CENTRE    932
TOTAL CANDIDATES                   0
TOTAL DIV 1                        0
% DIV 1                            0
TOTAL DIV 2                        0
% DIV 2                            0
TOTAL DIV 3                        0
% DIV 3                            0
TOTAL DIV 4                        0
% DIV 4                            0
TOTAL U                            0
% U                                0
TOTAL X                            0
% X                                0
FEMALE CANDIDATES                  0
FEMALE TOTAL DIV1                 13
FEMALE % DIV1                      0
FEMALE TOTAL DIV2                  0
FEMALE % DIV2                      0
FEMALE TOTAL DIV3                  0
FEMALE % DIV3                      0
FEMALE TOTAL DIV4                  2
FEMALE % DIV4                      0
FEMALE TOTAL U                     4
FEMALE % U (%)                     0
FEMALE TOTAL X                     0
FEMALE % X                         0
MALE CANDIDATES                    0
MALE TOTAL DIV1                    1
MALE % DIV1                        0
MALE TOTAL DIV2                    0
MALE % DIV2                        0
MALE TOTAL DIV3                    0
MALE % DIV3                        0
MALE TOTAL DIV4                    0
MALE % DIV4                        0
MALE TOTAL U                       5
MALE % U                           0
MALE TOTAL X                       1
MALE % X                           0
dtype: int64

### Drop the empty column

In [25]:
df = df.drop('NUMBER OF SCHOOLS/UNEB CENTRE', axis=1)

### 1. What were the best districts for each year?

In [26]:
group_by_years = df.groupby('YEAR').apply(pd.DataFrame.nlargest, n=1, columns=['TOTAL DIV 1'])
group_by_years

,,YEAR,DISTRICT,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,TOTAL DIV 4,...,MALE TOTAL DIV2,MALE % DIV2,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL U,MALE % U,MALE TOTAL X,MALE % X
YEAR,,,,,,,,,,,,,,,,,,,,,,
2010,52,2010,KAMPALA,25509,7105,27.9,13737,53.9,2370,9.3,1027,...,6168,51.5,897,7.5,409,3.4,388.0,3.2,236.0,2.0
2011,185,2011,KAMPALA,26104,7851,30.1,13291,50.9,2299,8.8,1372,...,5920,48.0,1010,8.2,498,4.0,428.0,3.5,206.0,1.7
2012,318,2012,KAMPALA,27070,8713,32.2,13688,50.6,2137,7.9,1286,...,6060,47.0,922,7.2,480,3.7,353.0,2.7,233.0,1.8
2013,451,2013,KAMPALA,26711,7345,27.5,14457,54.1,2384,8.9,1203,...,6468,51.8,965,7.7,426,3.4,369.0,3.0,220.0,1.8
2014,795,2014,WAKISO,38289,8268,21.6,19352,50.5,4911,12.8,2782,...,8950,50.4,2028,11.4,1018,5.7,936.0,5.3,384.0,2.2
2015,662,2015,WAKISO,38338,7680,20.0,18148,47.3,5552,14.5,3566,...,8067,46.6,2296,13.3,1396,8.1,1103.0,6.4,428.0,2.5
2016,929,2016,WAKISO,42569,8910,20.9,20076,47.2,5788,13.6,4481,...,9005,46.0,2446,12.5,1793,9.2,1183.0,6.0,335.0,1.8