# Welcome to PyCon Africa 2019 Pandas Tutorial

In this hands on workshop we shall explore pupil result for Primary Leaving Examination(PLE) for the years 2010-2016.

With this dataset, we shall attempt to learn a few things about Uganda Primary Education while also learning some Pandas tricks as bonus.

By **Kenneth Matovu** *SSE Andela Uganda*

## Let's Get started

* Glance at the Data
* Clean the Data
* Let's get the pandas on

### 1. What were the best districts for each year?

### 2. What districts have registered a decline in D1 performance in 2016?

### 3. Bar graph showing a distribution of pupils who fail over the years by gender

### 4. Boys vs Girls

In [2]:
import pandas as pd
from matplotlib import pyplot
import matplotlib
%matplotlib inline

In [3]:
df = pd.read_csv('ple-results-by-district-2010-2016.csv')

In [8]:
rows, columns = df.shape
print(f'rows: {rows}, columns: {columns}')

rows: 932, columns: 42

Show columnn counts for cells with no data

**TODO** - hide columns that have zero counts

In [11]:
df.isna().sum()

YEAR                               0
DISTRICT                           0
NUMBER OF SCHOOLS/UNEB CENTRE    932
TOTAL CANDIDATES                   0
TOTAL DIV 1                        0
% DIV 1                            0
TOTAL DIV 2                        0
% DIV 2                            0
TOTAL DIV 3                        0
% DIV 3                            0
TOTAL DIV 4                        0
% DIV 4                            0
TOTAL U                            0
% U                                0
TOTAL X                            0
% X                                0
FEMALE CANDIDATES                  0
FEMALE TOTAL DIV1                 13
FEMALE % DIV1                      0
FEMALE TOTAL DIV2                  0
FEMALE % DIV2                      0
FEMALE TOTAL DIV3                  0
FEMALE % DIV3                      0
FEMALE TOTAL DIV4                  2
FEMALE % DIV4                      0
FEMALE TOTAL U                     4
FEMALE % U (%)                     0
FEMALE TOTAL X                     0
FEMALE % X                         0
MALE CANDIDATES                    0
MALE TOTAL DIV1                    1
MALE % DIV1                        0
MALE TOTAL DIV2                    0
MALE % DIV2                        0
MALE TOTAL DIV3                    0
MALE % DIV3                        0
MALE TOTAL DIV4                    0
MALE % DIV4                        0
MALE TOTAL U                       5
MALE % U                           0
MALE TOTAL X                       1
MALE % X                           0
dtype: int64